@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: "Pribambas";
    src: url('../fonts/Pribambas-Regular.woff'),
    url('../fonts/Pribambas-Regular.woff2');
    font-style: normal; 
    font-weight: normal; 
}
